html{
  font-family: 'Open Sans', sans-serif;
}

.landingPage{
  background: url('../img/landingPage_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: black;
  width:100%;
  position:absolute;
  top:0;
  bottom:0;
  overflow: hidden;
}

.landing--container{
  text-align: center;
  color:white;
}
  .landing--title{
    font-size: 225px;
    font-weight: bolder;
    letter-spacing: .8rem;
    margin-top:10%;
    margin-bottom: -18px;
    animation-delay: .7s;
  }

  .landing--subtext{
    font-size:40px;
    font-weight: bold;
    animation-delay: 1.5s;
  }

  .landing--text{
    font-size:28px;
    animation-delay: 2.5s;
  }

  /* --- Landing Page Footer Styles --- */
  .footer{
    animation-delay: 3.5s;
  }
  a.button{
    position: relative;
    display: inline-block;
    width: 25.6em;
    height: 6.5em;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    line-height: 3em;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    -webkit-transform: translateZ(0);
          transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  a.button svg{
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
  }

  a.button svg g line,
  a.button svg g polyline,
  a.button svg g circle {
    fill: none;
    stroke: #fff;
  }
a.button svg g line,
a.button svg g polyline {
  stroke-miterlimit: 10;
}

a.button svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset ease-out 0.5s;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button font {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2em;
}
a.button:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
          transform: translateZ(0) translateX(0.5em);
}
a.button:hover svg g circle {
  stroke-dashoffset: 200;
}
  
